In [1]:
import pandas as pd
import json
import os
from collections import defaultdict
import numpy as np

from datetime import datetime, timedelta
import matplotlib.pyplot as plt

In [2]:
demo_path = "../../html.2023.final.data/demographic.json"

with open(demo_path, 'r') as f:
    data = json.load(f)

### Total Area

In [3]:
dic = defaultdict(int)
for station in list(data.values()):
    dic[station["sarea"]] += 1
dic["Total"] = sum(dic.values())
pd.DataFrame(dic, index=["站點數目"]).T

        站點數目
大安區      170
大同區       60
士林區      117
文山區       85
中正區      112
中山區      140
內湖區      159
北投區       84
松山區       82
南港區       88
信義區      102
萬華區       70
臺大公館校區    53
Total   1322

In [4]:
folder_path = '../..//html.2023.final.data/release/'
dic_file_cnt = defaultdict(int)
for item in os.listdir(folder_path):
    item_path = os.path.join(folder_path, item)
    # print(item_path[-4:])
    # Get the list of files in the folder
    files = os.listdir(item_path)
    # Count the number of files
    num_files = len(files)
    dic_file_cnt[item_path[-4:]] = num_files
    
dic_file_cnt = dict(sorted(dic_file_cnt.items()))
pd.DataFrame(dic_file_cnt, index=["每天有資訊的站點"]).T

      每天有資訊的站點
1002      1317
1003      1317
1004      1317
1005      1317
1006      1317
1007      1317
1008      1317
1009      1317
1010      1317
1011      1317
1015      1318
1016      1318
1017      1318
1018      1318
1019      1318
1020      1319
1025      1320
1026      1320
1027      1320
1028      1320
1029      1320
1030      1320
1031      1320
1101      1320
1102      1320
1103      1320
1104      1320
1105      1320
1106      1320
1107      1321
1108      1321
1109      1321
1110      1322
1111      1322
1112      1322
1113      1322
1114      1322
1115      1322
1116      1322
1117      1322
1118      1322
1119      1322
1120      1322

In [3]:
with open("../data/測站.json", 'r') as f:
    test_station = json.load(f)

In [4]:
stations = list(data.values())
t_s = list(test_station.values())
for s in stations:
    l = [(s["lat"] - t["lat"]) ** 2 + (s["lng"] - t["lng"]) ** 2 for t in t_s]
    s["ts"] = (t_s[l.index(min(l))]["name"])
    s["ts_id"] = (t_s[l.index(min(l))]["id"])

In [6]:
dic = defaultdict(int)
for s in stations:
    dic[s["t_s"]] += 1
dic

defaultdict(int,
            {'松山': 199,
             '信義': 249,
             '臺北': 335,
             '文山': 86,
             '科教館': 116,
             '天母': 32,
             '社子': 19,
             '石牌': 65,
             '內湖': 221})

In [5]:
new_demo = {}
keys = list(data.keys())
for i in range(len(stations)):
    new_demo[keys[i]] = stations[i]

In [6]:
with open("../data/new_demographic.json", 'w', encoding="utf-8") as json_file:
    json.dump(new_demo, json_file, indent=2, ensure_ascii=False)